:root{
  --ultramarine: #0b00db;
 } 
 
*{
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
body{
  background-color: #F5F5F5;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

.list {
  padding: 10px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.list li {
  width: 100%;
  background-color: #FFF;
  border-left: 4px solid #FFF;
  margin: 1px auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.5s ease;
  animation: slideDown 0.5s forwards;
  perspective: 100px;
}


.list h3 {
  margin: 5px;
  font-weight: 400;
  flex-grow: 1;
}
.delete{
  background-color: #FFF;
  color: #555;
  padding: 2px;
  margin: 0 10px;
  font-size: 0.7em;
  font-weight: 400;
}

.editable {
  background-color: white !important;
  border: 1px solid black;
}

.firestation{
  border-left: 4px solid var(--ultramarine) !important
}
.firestation p {
  color: var(--ultramarine);
  font-size: 0.7em;
}
.inRange{
  border-bottom: 1px solid green !important
}
.outOfRange{
  border-bottom: 3px solid red !important
}
label {
  display: block;
  margin-top: 10px;
}
button {
  display: block;
  min-width: 100px;
  margin-top: 10px;
  background: #BBB;
  border: none;
  padding: 3px;
}

#addMovie {
  margin-top: 20px;
  background-color: orange;
  color: white;
  border: none;
  padding: 6px 10px;
  font-size: 16px;
}

/* animations */

@keyframes slideDown{
  0%{ overflow: hidden; transform: rotateX(-90deg)}
  100%{ overflow: auto; transform: none}
}