:root{
  --ultramarine: #0b00db;
 } 
 
*{
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  /* border: 1px solid green */
}
body{
  background-color: #F5F5F5;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

.list {
  padding: 10px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

li{
  list-style-type: none;
}

hr{
  width: 100%;
}

.list>li {
  width: 100%;
  background-color: #FFF;
  border-left: 4px solid #FFF;
  margin: 1px auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  transition: all 0.5s ease;
  animation: slideDown 0.5s forwards;
  perspective: 100px;
  flex-wrap: wrap;
}

.list .info{
  width: 20%;
}

.list h3 {
  margin: 5px;
  font-weight: 400;
  width: 20%;
}
.delete{
  background-color: #FFF;
  color: #555;
  padding: 2px;
  margin: 0 10px;
  font-size: 0.7em;
  font-weight: 400;
}

.roadList{
  width: 35%;
  display: flex;
  flex-direction: column;
}

.editable {
  background-color: white !important;
  border: 1px solid black;
}

.inRange{
  border-left: 4px solid green !important
}
.inRange p{
  color: green;
  font-size: .7em
}
.outOfRange{
  border-left: 4px solid red !important
}
.outOfRange p{
  color: red;
  font-size: .7em
}
.firestation{
  border-left: 4px solid var(--ultramarine) !important
}
.firestation p {
  color: var(--ultramarine);
  font-size: 0.7em;
}
label {
  display: block;
  margin-top: 10px;
}
button {
  display: block;
  min-width: 100px;
  margin-top: 10px;
  background: #BBB;
  border: none;
  padding: 3px;
}



/* animations */

@keyframes slideDown{
  0%{ overflow: hidden; transform: rotateX(-90deg)}
  100%{ overflow: auto; transform: none}
}

/* media queries */

@media (max-width: 655px) {

  .delete{
    background-color: #FFF;
    min-height: 40px;
    color: #555;
    padding: 2px;
    margin: 0 10px;
    font-size: 0.9em;
    font-weight: 400;
  }

}
@media (max-width: 450px) {
  .list>li {
    flex-direction: column
  }
  .list h3{
    width: 100%
  }
  .roadList{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .list .info{
    width: 100%
  }
  .delete{
    background-color: #FFF;
    min-height: 40px;
    color: #555;
    padding: 2px;
    margin: 0 10px;
    font-size: 1.2em;
    font-weight: 400;
  }
}